<div id="fb-root"></div>
<script>
    // Additional JS functions here
    function signInWithFb() {
        FB.api('/me?fields=id', function(response) {
            window.location.href='/sign_in_with_fb?id='+response['id'];
        });
    }

    function authorizeOnFacebook() {
        FB.login(function(response) {
            if (response.authResponse) {
                signInWithFb();
            } else {
                alert('Que pena! Você não permitiu que o Vivento vinculasse sua conta do facebook.');
            }
        });
    }

    function facebookLogin() {
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                signInWithFb();
            } else if (response.status === 'not_authorized') {
                authorizeOnFacebook();
            } else {
                authorizeOnFacebook();
            }
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : <%= Facebook::TOKEN.to_s %>,//'473312806069988', // App ID
            channelUrl : '/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });
    };

    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>

<% flash.each do |key, value| %>
    <div class="alert <%= key %> hideit">
        <p><%= value %></p>
        <span class="close"></span>
    </div>
<% end %>
<div id="under-construction">
    <div class="container clearfix">
        <div class="sixteen columns">

            <h1>Olá, aceita um cafézinho?</h1>
            <%= link_to image_tag("sign_in_fb.png", alt: "Acessar utlizando sua conta no facebook"), 'javascript:facebookLogin();' %>&nbsp;&nbsp;&nbsp;ou
            <br>
            <p>Informe seu e-mail e senha:</p>
            <br>
            <div class="clearfix"></div>
            <%= form_for(:session, url: sessions_path) do |f| %>

                <%= f.text_field :email, :placeholder => "E-mail cadastrado", class: "subscribe-text" %>
                <br>
                <%= f.password_field :password, :placeholder => "Senha", class: "subscribe-text" %>
                <br>
                <br>
                <%= f.submit "Entrar", class: "subscribe-button" %>
            <% end %>
            <br>
            <p>Não tem conta? <%= link_to "Vamos criar, rapidinho...", sign_up_path %></p>
        </div>
    </div>
</div>