<script>
    // Apply select2 on apartment_select
    $(document).ready(function() {
        $("#apartment_select").select2({
            allowClear: true
        });
    });
</script>


<% unless flash.empty? %>
    <% flash.each do |key, value| %>
        <div class="alert <%= key %> hideit">
            <p><%= value %></p>
            <span class="close"></span>
        </div>
    <% end %>
<% end %>

<div class="container clearfix">
    <h1>Falta pouco... agora é só completar seus dados pessoais e pronto!</h1>
    <br>
    <br>
    <%= form_for(@person, :html => { :multipart => true, :class => "form-elements" }) do |f| %>
        <fieldset>
            <%= f.label :picture, "Foto do perfil:" %>
            <% if current_user.has_facebook_account? %>
                <br><br>
                <%= image_tag fb_picture(current_user.facebook_id, 300) %>
                <br><br>
            <% else %>
                <br><br>
                <%= avatar_for @person, 50 %>
                <%= f.file_field :picture %>
                <br>
            <% end %>
        </fieldset>
        <%= collection_select(:person, :apartment_id, Apartment.all, :id, :number, { :include_blank => 'Selecione o apartamento' }, { :id => 'apartment_select', :class => 'subscribe-text' }) %>
        <br>
        <%= f.text_field :name, :class => 'subscribe-text' %>
        <br>
        <%= f.text_field :email, :class => "subscribe-text" %>
        <br>
        <br>
        <br>
        <%= f.submit "Finalizar cadastro", class: "subscribe-button" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ou&nbsp;&nbsp;<%= link_to "cancelar", people_path %>
    <% end %>
    <br>
    <br>
</div>
