<!-- title -->
<div class="sixteen columns">
    <% unless flash.empty? %>
        <br>
        <% flash.each do |key, value| %>
        <div class="alert <%= key %> hideit">
            <p><%= value %></p>
            <span class="close"></span>
        </div>
        <% end %>
    <% end %>

    <h1 class="page-title">
        <b><%= @person.name %></b>
        <small> | Apto <%= @person.apartment.number %>, <%= @person.apartment.building.name %></small>
        <span class="line"></span>
    </h1>
</div>
<!-- /title -->

<!-- sidebar -->
<div class="four columns bottom">

    <!-- dados pessoais -->
    <ul class="team">
        <li>
            <%= avatar_for @person, 200 %>
        </li>
        <h2 class="title bottom-2">Dados da conta&nbsp;
            <% if current_user.admin? || current_user?(@person.user) %>
                <a href=<%= edit_person_path(@person) %> class="pull-right">
                    <small>editar</small>
                </a>
            <% end %>
        </h2>
        <li>
            <span class="user icon black"></span>
            <%= @person.name %>
        </li>
        <li>
            <span class="home icon black"></span>
            Apto <%= @person.apartment.number %>, <%= @person.apartment.building.name %>
        </li>
        <li>
            <span class="envelope icon black"></span>
            <%= @person.email %>
        </li>
        <li>
            <span class="calendar icon black"></span>
            Criada em <%= to_brazillian_date @person.user.created_at %>
        </li>
    </ul>
    <!-- /dados pessoais -->
</div>
<!-- /sidebar -->

<!-- timeline -->
<div class="eleven columns top bottom">

    <h2>Manutenção na piscina
        <span class="pull-right">
            <span class="heart icon black"></span><small>11</small>&nbsp;&nbsp;
            <span class="conversation icon black"></span><small>2</small>
        </span>
    </h2>
    <small>COMUNICADO - 20/03/12 23:45:00 - Síndico</small>&nbsp;&nbsp;
    <p class="timeline-preview">Na próxima segunda-feira (25/03) será realizada a manutenção mensal na piscina do bloco A. A mesma permanecerá fechada o dia todo. Essa manutenção é preventiva e visa atestar o correto func...&nbsp;<a href="/communications/1"><span class="color">veja mais</span></a></p>

    <h2>Pagamento automático da taxa de condomínio</h2>
    <small>PAGAMENTO - 20/03/12 00:00:00</small>&nbsp;&nbsp;
    <p class="timeline-preview">A taxa de condomínio no valor de R$260,00 foi paga automaticamente com o cartão de crédito MASTERCARD de final 7975. Veja a <a href="/invoices/1"><span class="color">fatura</span></a> gerada ou consulte seu <a href="/payments/1"><span class="color">histórico</span></a> de pagamentos.</p>

    <h2>Instalar ar condicionado no salão de festas
        <span class="pull-right">
            <span class="thumbs_up icon icon black"></span><small>11</small>&nbsp;&nbsp;
            <span class="thumbs_down icon icon black"></span><small>3</small>&nbsp;&nbsp;
            <span class="conversation icon black"></span><small>2</small>
        </span>
    </h2>
    <small>IDEIA - 19/03/12 12:04:50 - Danillo Souza</small>&nbsp;&nbsp;
    <p class="timeline-preview">Pessoal, nos dias de calor é insuportável ficar dentro do salão de festas. O ventilador simplesmente não dá conta. Poderíamos instalar um ar condicionado lá, o que acham?...&nbsp;<a href="/communications/1"><span class="color">veja mais</span></a></p>


    <center>carregando...</center>

</div>
<!-- /timeline -->