<br>
<% unless flash.empty? %>
    <div class="sixteen columns">
        <% flash.each do |key, value| %>
        <div class="alert <%= key %> hideit">
            <p><%= value %></p>
            <span class="close"></span>
        </div>
        <% end %>
    </div>
<% end %>

<div class="sixteen columns">
    <h1 class="page-title">
        Vizinhos queridos! <small>(<%= User.count %>)</small>
        <span class="line"></span>
    </h1>

    <%= will_paginate %>
    <ul class="users">
        <%= render @users%>
    </ul>
    <%= will_paginate %>
</div>
<br>