<div id="under-construction">
<div id="under-construction">
    <div class="container clearfix">
        <div class="sixteen columns">

            <h1>Vamos criar sua conta?</h1>
            <p>Preencha todos os campos:</p>
            <br>
            <div class="clearfix"></div>

            <%= form_for(@user) do |f| %>

                <%= collection_select(:user, :condo_id, Condo.all, :id, :name, { :include_blank => 'Selecione seu condomínio' }, { :class => 'subscribe-text' }) %>
                <br>
                <%= f.text_field :email, :placeholder => "E-mail", class: "subscribe-text" %>
                <br>
                <%= f.password_field :password, :placeholder => "Escolha uma senha", class: "subscribe-text", autocomplete: "off" %>
                <br>
                <%= f.password_field :password_confirmation, :placeholder => "Confirme a senha", class: "subscribe-text", autocomplete: "off" %>
                <br>
                <br>
                <%= f.submit "Oba! Criar conta", class: "subscribe-button" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ou&nbsp;&nbsp;<%= link_to "cancelar", root_url %>

            <% end %>
            <br>
            <p>Já tem uma conta? <%= link_to "Ah, então vamos entrando...", sign_in_path %></p>

        </div>
    </div>
</div>
