<div class="sixteen columns">
    <h1 class="page-title">
        Alterar <small><%= @building.name %></small>
        <span class="line"></span>
    </h1>
    <% unless flash.empty? %>
        <% flash.each do |key, value| %>
            <div class="alert <%= key %> hideit">
                <p><%= value %></p>
                <span class="close"></span>
            </div>
        <% end %>
    <% end %>

    <%= form_for(@building, :html => { :class => "form-elements" }) do |f| %>
    <fieldset>
        <%= f.label :condo_id, "Condomínio" %><br>
        <%= collection_select(:building, :condo_id, Condo.all, :id, :name, { :include_blank => 'Selecione seu condomínio' }, { :class => 'subscribe-text' }) %>
    </fieldset>
    <fieldset>
        <%= f.label :name, "Nome do bloco" %><br>
        <%= f.text_field :name, :placeholder => "ex: Bloco A", :class => 'span5' %>
    </fieldset>
    <fieldset>
        <%= f.label :floor_qty, "Quantidade de andares" %><br>
        <%= f.select :floor_qty, to_floor_qty_select(50), { :include_blank => 'Selecione' }, { :class => 'subscribe-text' } %>
    </fieldset>
    <br>
    <br>
    <%= f.submit "Salvar dados", class: "button medium color" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ou&nbsp;&nbsp;<%= link_to "cancelar", buildings_path %>
    <% end %>
</div>