<link rel="stylesheet" type="text/css" href="https://raw.github.com/ehynds/jquery-ui-multiselect-widget/master/jquery.multiselect.css" />
<script type="text/javascript" src="https://raw.github.com/ehynds/jquery-ui-multiselect-widget/master/src/jquery.multiselect.js"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://raw.github.com/ehynds/jquery-ui-multiselect-widget/master/jquery.multiselect.css" />
<link rel="stylesheet" type="text/css" href="https://raw.github.com/ehynds/jquery-ui-multiselect-widget/master/demos/assets/style.css" />
<link rel="stylesheet" type="text/css" href="https://raw.github.com/ehynds/jquery-ui-multiselect-widget/master/demos/assets/prettify.css" />
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://raw.github.com/ehynds/jquery-ui-multiselect-widget/master/demos/assets/prettify.js"></script>
<script type="text/javascript" src="https://raw.github.com/ehynds/jquery-ui-multiselect-widget/master/src/jquery.multiselect.js"></script>

<script type="text/javascript">
$(function(){
   $("#example-basic").multiselect(); 
});
</script>
<% unless flash.empty? %>
  <% flash.each do |key, value| %>
    <div class="alert <%= key %> hideit">
      <p><%= value %></p>
      <span class="close"></span>
    </div>
  <% end %>
<% end %>
<%= form_for(@communication, :html => { :multipart => true, :class => "form-elements" }) do |f| %>
  <fieldset>
    <%= f.label :subject, "Assunto" %><br>
    <%= f.text_field :subject, :class => 'span5' %>
  </fieldset>
  <fieldset>
    <%= f.label :message, "Mensagem" %><br>
    <%= f.text_area :message, :class => 'span5' %>
  </fieldset>
  <fieldset>
    <%= f.label :begin_date, "Data de Início" %><br>
    <%= f.date_select :begin_date, :class => 'span5', :start_year => Time.new.year, :order => [:day, :month, :year] %>
  </fieldset>
  <fieldset>
    <%= f.label :expiration_date, "Data de Expiração" %><br>
    <%= f.date_select :expiration_date, :class => 'span5', :start_year => Time.new.year, :order => [:day, :month, :year] %>
  </fieldset>
  <fieldset>
    <%= f.label :publish_to, "Publicar para"%><br>
    <%= f.select :publish_to, Building.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :id => "example-basic" %>
  </fieldset>

  <%= f.submit "Colar na parede", class: "button medium color" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ou&nbsp;&nbsp;<%= link_to "desistir", communications_path %>
<% end %>
