<script type="text/javascript">
$(document).ready(function() {
  $(function(){
    $("#building_name").select2({ placeholder : "Selecione um bloco" }); 
  });
});
</script>
<% unless flash.empty? %>
  <% flash.each do |key, value| %>
    <div class="alert <%= key %> hideit">
      <p><%= value %></p>
      <span class="close"></span>
    </div>
  <% end %>
<% end %>
<div class="container">
  <div class="sixteen columns bottom">
    <div class="form big">
      <%= form_for(@communication, :html => { :multipart => true, :class => "form-elements" }) do |f| %>
        <div class="fields">
          <div class="form-box big">
            <fieldset>
              <%= f.label :subject, "Assunto" %><br>
              <%= f.text_field :subject, :class => 'subscribe-text' %>
            </fieldset>
          </div>
          <div class="form-box big">
            <fieldset>
              <%= f.label :message, "Mensagem" %><br>
              <%= f.text_area :message, :class => 'subscribe-text' %>
            </fieldset>
          </div>
          <div class="form-box big">
            <fieldset>
              <%= f.label :begin_date, "Data de Início" %><br>
              <%= f.date_select :begin_date, :class => 'span1', :start_year => Time.new.year, :order => [:day, :month, :year] %>
            </fieldset>
          </div>
          <div class="form-box big">
            <fieldset>
              <%= f.label :expiration_date, "Data de Expiração" %><br>
              <%= f.date_select :expiration_date, :class => 'span5', :start_year => Time.new.year, :order => [:day, :month, :year] %>
            </fieldset>
          </div>
          <div class="form-box big">
            <fieldset>
              <%= f.label :buildings, "Publicar para"%><br>
              <%= select_tag :buildings, options_for_select(Building.all.collect {|x| [x.name, x.id]}, "Todos"), { :id => "building_name", :class => "select2-drop-mask", :multiple => true } %>
            </fieldset>
          </div>
        </div>
      <%= f.submit "Colar na parede", class: "button medium color" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ou&nbsp;&nbsp;<%= link_to "desistir", communications_path %>
      <% end %>
    </div>
  </div>
</div>
