<div class="sixteen columns">
    <h1 class="page-title">
        Apartamentos <small>(<%= Apartment.count %>)</small>
        <span class="line"></span>
    </h1>
    <% unless flash.empty? %>
        <% flash.each do |key, value| %>
            <div class="alert <%= key %> hideit">
                <p><%= value %></p>
                <span class="close"></span>
            </div>
        <% end %>
    <% end %>
    <% if current_user.admin? %>
        <br>
        <span class="circle_plus icon black"></span><%= link_to "cadastrar apartamento", new_apartment_path %>
        <br>
        <br>
    <% end %>
    <ul class="arrow-list">
        <%= render @apartments%>
    </ul>
</div>
<br>
<br>