<header>
	<div class="container clearfix">

		<div class="one-third column">
			<div class="logo">
				<!-- <%= link_to image_tag("cloud.jpg", alt: "Vivento"), root_path %> -->
            	<h2>Vivento</h2>
			</div>
		</div><!-- End Logo -->

		<div class="two-thirds column">
			<nav id="menu" class="navigation">
				<ul id="nav">
					<li>
						<a href="#">Minha conta</a>
						<ul>
							<li><%= link_to "Dados pessoais*", person_path(current_user.person) %></li>
							<li><a href="#">Pagamentos</a></li>
							<li><%= link_to "Taxa de condomínio", '/' %></li>
							<li><a href="formas_de_pagamento.html">Formas de Pagamento</a></li>
							<li><a href="#">Preferências</a></li>
						</ul>
					</li>
					<% if current_user.admin? %>
						<li><a href="#">Administração</a>
							<ul>
								<li><%= link_to "Gerenciar condomínios", condos_path %></li>
								<li><%= link_to "Gerenciar blocos", buildings_path %></li>
								<li><%= link_to "Gerenciar apartamentos", apartments_path %></li>
								<li><%= link_to "Gerenciar moradores*", people_path %></li>
							</ul>
						</li>
					<% end %>
					<li>
						<a href="#">Condomínio</a>
						<ul>
							<li><a href="#">Parede do Elevador</a></li>
							<li><a href="#">Caixa de Ideias</a>
								<ul>
									<li><a href="#">Em Discussão</a></li>
									<li><a href="#">Em Votação</a></li>
								</ul>
							</li>
							<li><a href="#">Reservas</a></li>
							<li><a href="#">Livro de Ocorrências</a></li>
							<li><a href="#">Fale com o síndico</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Mensagens*</a>
						<ul>
							<li><a href="#">Recebidas (2)</a></li>
							<li><a href="#">Enviadas</a></li>
							<li><a href="#">Excluídas</a></li>
						</ul>
					</li>
					<% if signed_in? %>
						<li><%= link_to "Sair", sign_out_path, method: "delete" %></li>
					<% else %>
						<li><%= link_to "Entrar", sign_in_path %></li>
					<% end %>
				</ul>

			</nav>
		</div><!-- End Menu -->

		<div class="sixteen columns"><hr /></div>

	</div><!-- End Container -->

</header><!-- <<< End Header >>> -->